# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.pytest_cache/

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
.env

# ==========================
# MLflow
# ==========================
mlruns/
mlflow.db

# ==========================
# DVC Cache
# ==========================
.dvc/cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log
/data
/models
/reports
frontend/test_patient.csv
